<p>
    I work too bitches
</p>

<div class="jumbotron">
        <h4>{{ movieData.Title }}</h4>
        <div class="container-fluid">
            <div class="col-md-4">
                <img class="poster" src="{{ movieData.Poster }}" alt="{{ movieData.Title }}" />
            </div>
            <div class="col-md-8">
                <p>
                    {{ movieData.Plot }}
                </p>
                <br>
                <p>
                    {{ movieData.Awards }}
                </p>
            </div>
    </div>
</div>
