.search {
    width: 45%;
    float: left;
    height: 75px;
    margin: 10px;
}

.search:hover {
    border-width: 2px;
    border-color: #7F7F7F;
}

.poster {
    height: 200px;
}

.movieInfo {
    float: left;
}
